
/* App */
.App {
  margin:0px;
  padding:0px;
}

.container{
  padding:1em;
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-template: 
  "r r r m m m m m m m m m"
  "r r r m m m m m m m m m"
  "r r r m m m m m m m m m"
  "r r r m m m m m m m m m"
  "c c c n n n n n n n n n";
  
  grid-template-rows: 300px auto 100px;
}

.messageArea{
grid-area: m;
background: rgb(211, 13, 13);
border-radius: 1em;
}
.roomArea{
  grid-area: r;
  background: rgb(192, 181, 181);
  border-radius: 1em;
}
.newMessageArea{
  grid-area: n;
  background: rgb(85, 170, 45);
  box-shadow: black;
}
.createRoomArea{
  grid-area: c;
  background: rgb(226, 223, 231);
 
}
/* Message */
/* Chat containers */


/* Darker chat container */


/* MessageList */


/* NewRoom */



/* RoomList */
